@use '../../styles/constants/colors';
@use '../../styles/mixins/position';
@use '../../styles/mixins/flexbox';

.container {
  @include flexbox.flexbox(start, center);
  flex-direction: column;
  height: 310px;
  padding: 20px;
  border: 1px solid colors.$GRAYA;
}

.dropdownBox {
  @include flexbox.flexbox(between, center);
  width: 220px;
  padding: 10px;
  cursor: pointer;
  border: 1px solid colors.$GRAYA;
  border-radius: 4px;
}

.dropdownBox span {
  font-size: 14px;
}

.selectItemContainer {
  width: 220px;
  margin-top: 4px;
  border: 1px solid colors.$GRAYA;
  border-radius: 4px;
}

.searchContainer {
  @include flexbox.flexbox(center, center);
  border-bottom: 1px solid colors.$GRAYA;
}

.searchContainer input {
  padding: 6px;
  border: none;
  outline: none;
}

.sesarchIcon {
  width: 12px;
  height: 12px;
  margin-right: 2px;
  margin-left: 4px;
  color: colors.$GRAYA;
}

.selectItemBox {
  @include flexbox.flex;
  flex-direction: column;
  padding: 5px 0;
}

.listItem {
  width: 100%;
  padding: 5px 20px;
  font-size: 14px;
  list-style: none;
  cursor: pointer;
  background-color: colors.$WHITE;
}

.listItem:hover {
  width: 100%;
  padding: 5px 20px;
  background-color: rgba(colors.$BLACK, 10%);
}
