.container {
  width: 50%;
  height: 50%;
  background-color: white;
  border: 1px solid black;
}

.tabBar {
  position: relative;
  display: flex;
  height: 20%;
}

.tabBarItem {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  color: rgba(0, 0, 0, 50%);
  cursor: pointer;
  background-color: white;
  border-bottom: 2px solid #dbdbdb;
}

.focusedTabBarItem span {
  color: rgb(0, 0, 0);
}

.foucsedBar {
  position: absolute;
  bottom: 0;
  z-index: 2;
  width: 33.3333%;
  height: 2px;
  background-color: cadetblue;
  transition: 0.5s;
}

.content {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  height: 80%;
}
