@use '../../styles/constants/colors';
@use '../../styles/mixins/position';
@use '../../styles/mixins/flexbox';

span {
  @include position.relative(0);
  z-index: 100;
}

.buttonContainer {
  @include position.relative(0);
  @include flexbox.flexbox(center, center);
  width: 50%;
  height: 50px;
  background-color: colors.$GRAYE;
  border-radius: 120px;
}

.button {
  flex: 1;
  height: 42px;
  color: rgba(colors.$BLACK, 20%);
  cursor: pointer;
  background-color: transparent;
  border-radius: 120px;
}

.buttonFocus {
  color: rgba(colors.$BLACK, 80%);
}

.focusBackground {
  @include position.absolute(50% auto auto 0%);
  z-index: 1;
  width: 50%;
  height: 42px;
  cursor: pointer;
  background-color: white;
  border-radius: 150px;
  transition: 0.8s;
}
