span {
  position: relative;
  z-index: 100;
}

.buttonContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 50px;
  background-color: #dbdbdb;
  border-radius: 120px;
}

.button {
  flex: 1;
  height: 42px;
  color: rgba(0, 0, 0, 20%);
  cursor: pointer;
  background-color: transparent;
  border-radius: 120px;
}

.buttonFocus {
  color: rgba(0, 0, 0, 80%);
}

.focusBackground {
  position: absolute;
  top: 50%;
  left: 0%;
  z-index: 1;
  width: 50%;
  height: 42px;
  cursor: pointer;
  background-color: white;
  border-radius: 150px;
  transition: 0.8s;
}
