@use '../../styles/constants/colors';
@use '../../styles/mixins/position';
@use '../../styles/mixins/flexbox';

input[type='range'] {
  accent-color: colors.$GRAY6;
  overflow: hidden;
}

input[type='range']::-webkit-slider-thumb {
  @include position.relative(0);
  z-index: 100;
  border-radius: 150px;
  box-shadow: 0 0 4px 4px colors.$WHITE;
}

.container {
  @include flexbox.flexbox(center, center);
  flex-direction: column;
  width: 50%;
  padding: 20px 0;
  border: 1px solid colors.$BLACK;
  border-radius: 15px;
}

.persentBar {
  @include flexbox.flexbox(end, center);
  width: 50%;
  height: 40px;
  padding: 0 20px;
  margin-bottom: 10px;
  background-color: colors.$GRAYE;
  border: 1px solid colors.$GRAY6;
  border-radius: 8px;
}

.progressBarContainer {
  @include position.relative(0);
  @include flexbox.flex;
  width: 80%;
}

.step {
  @include position.absolute(auto auto auto auto);
  z-index: 11;
  width: 15px;
  height: 15px;
  background-color: colors.$GRAYE;
  border: none;
  border-radius: 120px;
}

.progressBar {
  width: 100%;
}

.selectPersentContainer {
  @include flexbox.flexbox(between, center);
  width: 85%;
  margin-top: 10px;
}

.selectPersent {
  @include flexbox.flexbox(center, center);
  width: 40px;
  cursor: pointer;
  background-color: colors.$GRAYE;
  border-radius: 150px;
}

.selectPersent span {
  font-size: 12px;
  color: colors.$BLACK;
}

.selectPersent :hover {
  @include flexbox.flexbox(center, center);
  width: 40px;
  cursor: pointer;
  background-color: colors.$GRAY6;
  border-radius: 150px;
}

.selectPersent span:hover {
  font-size: 12px;
  color: colors.$WHITE;
}
